<!DOCTYPE html>
<html lang="en">
<head>
	<title>Admin - View Ads</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/adminStyle.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet"/>
</head>

<body> 

	<!-- ######################## Navigation bar ######################## -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav pull-right">
				<li><a onclick="signout()">Log Out</a></li>
			</ul>
			
			<!-- LOGO -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
					<span class=" glyphicon glyphicon-menu-down fa-lg" style="color:white;"></span>
				</button>
				<a href="#" class="navbar-brand" id="headerTitle">Admin Panel</a>
			</div>
	
			<!-- Menu Items -->
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="admin.html">Home</a></li>
					<li><a href="adminViewRetailer.html">Retailers</a></li>
					<li><a href="adminViewUser.html">Users</a></li>
					<li class="active"><a>Ads</a></li>
				</ul>
			</div>		
		</div>
	</nav>
	
	
	<!-- ######################## TABLE LAYOUT ######################## -->
	

</body>
</html>





















