<a id="signin" onclick="signinContainer()" style="color:white; margin-right:10px;"><%= Retailer_Shop %><span class="caret"></span></a>
					 <div class="dropdown-content" id="signinDropdown" style="display:none">
							<a href='/retailer'>Retailer Home</a>
							<a href="#" onclick="Logout()">Logout</a>
					</div>